@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white-color: rgb(255, 254, 254);
    --background-color: rgb(77, 130, 209);
    --header-color: rgb(57, 95, 119);
}

body{
    background-color: var(--background-color);
}

#header-name{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 35%;
    background-color: var(--header-color);
    max-width: 55%;
    height: 50px;
    border-radius: 40px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
}

#header-name > h3 {
    font-size: 40px;
    color: var(--white-color);
}
#position-grid{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#grid{
    width: 940px;
    height: 600px;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: aquamarine;*/
    border: 3px solid rgb(200, 43, 43);
    justify-content: center;
    align-items: center;
}

.cell{
    /*width:470px;
    height: 150px;*/
    /*flex: 1 0 10%;*/
    border: 1px solid rgb(192, 192, 192);
    background-color: var(--white-color);
}

#grid-functions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border: 3px solid black;
    margin-right: 20px;

    max-width: 100%;
    width: 300px;
    height: 300px;
}