@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white-color: rgb(255, 254, 254);
    --background-color: rgb(99 104 111);
    --header-color: rgb(57, 95, 119);
    --sketch-back-color: rgb(49 117 187);
    --slider-back-color: rgba(15, 45, 167, 0.817);
}

body{
    background-image: url(./img/blue-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    background-color: var(--header-color);
    max-width: 55%;
    height: 50px;
    box-shadow: 1px 1px 0px 0px rgb(74 67 67);
    border-radius: 40px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
}

#header-name > h3 {
    font-size: 40px;
    color: var(--white-color);
    
}

#position-grid{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-left: 110px;
    /*border: 3px solid red;*/
    padding: 15px;
    background-color: var(--sketch-back-color);
}

#grid-box{
    border: 6px dashed rgb(14, 15, 14);
    border-radius: 10px;
    border-style: double inset;
    display: flex;
    width: 1000px;
    max-width: 60%;
}

#grid{
    width: 1000px;
    height: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: aquamarine;*/
    justify-content: center;
    align-items: center;
}



.cell{
    /*width:470px;
    height: 150px;*/
    /*flex: 1 0 10%;*/
    border: 1px solid rgb(192, 192, 192);
    background-color: var(--white-color);
}

#grid-functions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 0px black;
    margin-right: 20px;
    max-width: 100%;
    width: 300px;
    height: 300px;
}

#color-box, #range-box{
    border: 3px black;
    background-color: var(--white-color);
    border-style: solid double;
    border-color: rgb(32, 71, 71) rgb(217, 30, 30);
}

#color-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 13px;
    cursor: pointer;
}

#color-input::-webkit-color-swatch {
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0, 0.6);
}

#color-input::-moz-color-swatch {
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0, 0.6);
}

#color-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 60%;
}

#color-box > p {
    /* align-self: flex-end; */
}
.image-icon{
    width: 20px;
    height: auto;
}

.function-text{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#range-box{
    margin-top: 5px;
    background-color: var(--white-color);
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    margin-top: 3px;
    background: transparent;
    width: auto;
}

input[type="range"]::-webkit-slider-runnable-track{
    background: var(--slider-back-color);
    border-radius: 3px;
    height: 8px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: -1px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--white-color);

}

input[type="range"]::-moz-range-track{
    background: var(--slider-back-color);
    border-radius: 3px;
    height: 8px;  
}

input[type="range"]::-moz-range-thumb{
    background: var(--white-color);
    border: none;
    border-radius: 50%;
    margin-top: -1px;
    height: 10px;
    width: 10px;

}

